In [5]:
#! python3
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import pyodbc
import pandas as pd

############################# BANCO DE DADOS
# ----------------- SELECT I 
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-GSL6MTU;DATABASE=imp-cgdf;Trusted_Connection=yes;')
def connectSQLServer(conn):
    connSQLServer = conn
    return connSQLServer
sql_query = (''' SELECT * FROM bpo order by DATA ''')
sql_query2 = (''' SELECT * FROM carteira_Ativos$ order by valor,dt''')
sql_query3 = ('''SELECT * FROM impressoras''' )
############################# TRATAMENTO DE DADOS

df = pd.read_sql(sql_query,conn)
df2 = pd.read_sql(sql_query2,conn)
df3 = pd.read_sql(sql_query3,conn)

#print(df)
print(df2)
print(df3)
#

    nome     valor                    dt
0  ATLAS  R$0.4092  2021-09-30 08:19:56.
1  ATLAS  R$0.4487  2021-09-27 12:16:49.
2    XRP    R$5.07  2021-09-27 12:16:50.
3    XRP    R$5.08  2021-09-30 08:19:59.
    tonner  nome  ipv4 andar  sala setor total_impressao total_scan  \
0        0     0     0     0     0     0               0          0
1        0     0     0     0     0     0               0          0
2        0     0     0     0     0     0               0          0
3        0     0     0     0     0     0               0          0
4        0     0     0     0     0     0               0          0
..     ...   ...   ...   ...   ...   ...             ...        ...
112   ERRO  ERRO  ERRO  ERRO  ERRO  ERRO            ERRO       ERRO
113   ERRO  ERRO  ERRO  ERRO  ERRO  ERRO            ERRO       ERRO
114   ERRO  ERRO  ERRO  ERRO  ERRO  ERRO            ERRO       ERRO
115   ERRO  ERRO  ERRO  ERRO  ERRO  ERRO            ERRO       ERRO
116   ERRO  ERRO  ERRO  ERRO  ERRO  ERRO            ERRO       ERRO

    total_cilindro          dt
0                0  2021-09-16
1                0  2021-09-16
2                0  2021-09-16
3                0  2021-09-16
4                0  2021-09-16
..             ...         ...
112           ERRO  2021-09-14
113           ERRO  2021-09-14
114           ERRO  2021-09-14
115           ERRO  2021-09-15
116           ERRO  2021-09-15

[117 rows x 10 columns]

In [4]:
import pyodbc
import pandas as pd
############################# BANCO DE DADOS
# ----------------- SELECT I 
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-GSL6MTU;DATABASE=imp-cgdf;Trusted_Connection=yes;')
#conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-BHUVH4U;DATABASE=db-Pojetos;Trusted_Connection=yes;')
def connectSQLServer(conn):
    connSQLServer = conn
    return connSQLServer
sql_query4 = (''' SELECT mesAno, ValorDespesaEmpenhada FROM despesas_orgaos order by mesAno''')
#sql_query4 = (''' SELECT * FROM despesas_orgaos order by len(valorDespesaEmpenhada), 'valorDespesaEmpenhada' ''')
#sql_query5 = (''' select * from despesas_orgaos order by mesAno ''')


############################# TRATAMENTO DE DADOS

df4 = pd.read_sql(sql_query4,conn)

print(df4)

    mesAno                           nmOrgao valorDespesaEmpenhada  \
0  01/2021  63000 - Advocacia-Geral da União      1.674.655.176,09
1  02/2021  63000 - Advocacia-Geral da União         14.649.949,25
2  03/2021  63000 - Advocacia-Geral da União         17.150.893,14
3  04/2021  63000 - Advocacia-Geral da União        182.286.742,61
4  05/2021  63000 - Advocacia-Geral da União      1.215.810.357,48
5  06/2021  63000 - Advocacia-Geral da União        126.464.711,46
6  07/2021  63000 - Advocacia-Geral da União         27.247.364,11
7  08/2021  63000 - Advocacia-Geral da União        148.289.705,44

  valorDespesaLiquidada valorDespesaPaga  valorRestoPago
0        275.943.258,15    98.150.443,08  242.176.325,94
1        291.932.462,03   291.657.861,95   29.305.344,81
2        309.906.836,57   298.262.430,11    3.690.172,59
3        296.397.384,92   310.448.252,86   10.270.734,26
4        313.384.390,88   305.974.928,00    2.332.433,16
5        372.281.185,52   310.192.771,56    6.573.225,22
6        301.090.937,14   374.166.958,21    6.590.915,16
7        287.757.633,96   289.488.651,91    1.320.862,24

In [17]:
import pyodbc
import pandas as pd 
import numpy as np 
from pandas.core.frame import DataFrame



# PARTE I - LER JSON
url = 'https://www.portaltransparencia.gov.br/despesas/orgao/resultado?paginacaoSimples=false&tamanhoPagina=1889&offset=0&direcaoOrdenacao=asc&colunaOrdenacao=orgaoSuperior&de=01%2F01%2F2021&ate=31%2F08%2F2021&colunasSelecionadas=linkDetalhamento%2CmesAno%2CorgaoSuperior%2CorgaoVinculado%2CvalorDespesaEmpenhada%2CvalorDespesaLiquidada%2CvalorDespesaPaga%2CvalorRestoPago&_=1628798234307'
arquivo_json = pd.read_json(url)
base_dados = arquivo_json["data"]
#print(base_dados)


# PARTE II - FILTRAR JSON
for tabelas in base_dados:
    
    mesAno = tabelas['mesAno']
    orgao = tabelas['orgaoSuperior']
    valorDespesaEmpenhada = tabelas['valorDespesaEmpenhada']
    valorDespesaLiquidada = tabelas['valorDespesaLiquidada']
    valorDespesaPaga = tabelas['valorDespesaPaga']
    valorRestoPago = tabelas['valorRestoPago']


    if tabelas['orgaoSuperior'].strip() == '63000 - Advocacia-Geral da União':

        print('Mês/Ano:', mesAno, '; ', 'Orgão: ', orgao, '; ','Valor Despesa Empenhada: ', valorDespesaEmpenhada, '; ', 'Valor Despesa Liquidada: ', valorDespesaLiquidada, '; ', 'Valor Despesa Paga: ' , valorDespesaPaga, '; ', 'Valor Resto Pago: ', valorRestoPago)

        conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-GSL6MTU;DATABASE=imp-cgdf;Trusted_Connection=yes;')
        cursor = conn.cursor()
        string_sql = f'''INSERT INTO despesas_orgaos VALUES ('{mesAno}', '{orgao}', '{valorDespesaEmpenhada}', '{valorDespesaLiquidada}', '{valorDespesaPaga}', '{valorRestoPago}')'''
        cursor.execute(string_sql)
        conn.commit()

In [12]:
import pyodbc
import pandas

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-GSL6MTU;DATABASE=imp-cgdf;Trusted_Connection=yes;')
def connectSQLServer(conn):
    connSQLServer = conn
    return connSQLServer
sql_query = (''' SELECT mesAno, nmOrgao, valorDespesaEmpenhada FROM despesas_orgaos ORDER BY mesAno ''')

df = pd.read_sql(sql_query,conn)
print(df)

    mesAno                           nmOrgao valorDespesaEmpenhada
0  01/2021  63000 - Advocacia-Geral da União      1.674.655.176,09
1  02/2021  63000 - Advocacia-Geral da União         14.649.949,25
2  03/2021  63000 - Advocacia-Geral da União         17.150.893,14
3  04/2021  63000 - Advocacia-Geral da União        182.286.742,61
4  05/2021  63000 - Advocacia-Geral da União      1.215.810.357,48
5  06/2021  63000 - Advocacia-Geral da União        126.464.711,46
6  07/2021  63000 - Advocacia-Geral da União         27.247.364,11
7  08/2021  63000 - Advocacia-Geral da União        148.289.705,44